# map function 

* map() is a built-in Python function that lets you apply a function to every item in a list (or any iterable) â€” and gives you a new map object with the results.

### Syntax 

* map(function, iterable)

In [13]:
# method 1 map function with using lambda 
 
numbers1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

results = map(lambda x : x ** 2 , numbers1)
print(list(results))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
## using map function using def function

lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]
def sqr(num):
    return num ** 2

results = map(sqr , lst)
print(list(results))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
## Method 2

def squares(x):
    return x**2


numbers3 = [1,  2, 3, 4, 5, 6, 7, 8, 9]

list(map(squares , numbers3))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
## Multiple iterables

lst1 = [1, 2, 3, 4]
lst2 = [5, 6, 7, 8]

combine = map(lambda x, y : x+y ,lst1 , lst2 )
print(list(combine))

[6, 8, 10, 12]

In [12]:
## map function to create list of string numbers into integers 

numbers4 = ['1' , '2' , '3', '4', '5']
int_numbers = list(map(int , numbers4))
print(f"str numbers list :-{numbers4}")
print(f"integer number list :-{int_numbers}")

str numbers list :-['1', '2', '3', '4', '5']
integer number list :-[1, 2, 3, 4, 5]

In [30]:
words = ["apple", "banana", "cherry"]
upper_word = list(map(str.upper , words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [32]:
def get_names(person):
    return person['name']


people = [
    {"name": "Pratik" , "age":21 , "city": "Pune"},
    {"name": "Pushkar", "age":21 , "city": "Banglore"},
    {"name": "Akshay" , "age":20 , "city": "Nagpur"}
]

list(map(get_names , people))

['Pratik', 'Pushkar', 'Akshay']