In [1]:
name = "pratik"
age = 21 

print(name , age )

pratik 21

In [2]:
a="pratik"
height = 5.6
address = "kamgarnagar , Pimpri Chinchwad , Pune"

In [3]:
a

'pratik'

In [4]:
height

5.6

In [5]:
print(f"name is {a} , hieght is {height} , address is {address}")

name is pratik , hieght is 5.6 , address is kamgarnagar , Pimpri Chinchwad , Pune

In [6]:
v = 10 # v is an integer 
print(v , type(v))

v = "Heyyy!"
print(v, type(v)) # v is an string

10 <class 'int'>
Heyyy! <class 'str'>

# if , elif , else condition

# calculator

In [ ]:
number1 = int(input("Enter the number:"))

number2 = int(input("Enter second number:"))

operation = input("addition , multiplication , division , substraction , select the operation you want to perform:")


if operation == "addition":
    print(f"addition is {number1 + number2}")

elif operation == "multiplication":
    print(f"multiplication is {number1 * number2}")

elif operation == "division":
    print(f"division is {number1 / number2}")

elif operation == "substraction":
    print(f"substraction is {number1 - number2}")

else:
    print("Please select the correct operation")

addition is 30

In [10]:
str = "Pratik"

str.isupper()

False

In [15]:
year = int(input("please enter the year:"))

if year % 4 == 0:
    if year % 100 == 0 :
        if year % 400  == 0:
            print(f"{year} is a leap year")

        else:
            print(f"{year} is not leap year")

    else:
        print(f"{year} is leap year")
else:       
    print("year is not leap year")

year is not leap year

# For Loop

In [26]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [36]:
for i in range (10, 1 , -2):
    print(i)

10
8
6
4
2

In [34]:
for i in range(10,1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [40]:
str = "Partik Patil"
for i in str:
    print(i)

P
a
r
t
i
k

P
a
t
i
l

In [39]:
str = "Pratik Patil"

for i in str:
    print(i , end = " ")

P r a t i k   P a t i l

# While Loop

In [41]:
count = 0 

while count < 10 :
    print(count)
    count += 1

0
1
2
3
4
5
6
7
8
9

In [42]:
count = 0 
while count < 10 :
    print(count , end = " ")
    count += 1

0 1 2 3 4 5 6 7 8 9

# Loop control statement

In [ ]:
# break statement 
'''The break statement is used to exit a loop prematurely.
When the break statement is encountered, the loop is terminated immediately, and control is transferred to the statement following the loop.'''

for i in range(1, 10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [ ]:
# continue statement
'''The continue statement is used to skip the current iteration of a loop and move to the next iteration.
When the continue statement is encountered, the remaining code in the loop for that iteration is skipped, and control jumps to the next iteration of the loop.'''

for i in range (1, 10):
    if i % 2 == 0 :
        continue 
    print(i)

1
3
5
7
9

In [49]:
# pass statement
'''The pass statement is a null operation; it does nothing when executed'''


for i in range(1, 10):
    if i == 3 :
        pass # i have nothing to give in if statement so i am using pass statement

    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
# nested loops 
''' Nested loops are loops inside another loop. The inner loop runs completely for each iteration of the outer loop.'''

for i in range (1, 5):
    for j in range(1, 5):
        print(f"i = {i} , j = {j}")

i = 1 , j = 1
i = 1 , j = 2
i = 1 , j = 3
i = 1 , j = 4
i = 2 , j = 1
i = 2 , j = 2
i = 2 , j = 3
i = 2 , j = 4
i = 3 , j = 1
i = 3 , j = 2
i = 3 , j = 3
i = 3 , j = 4
i = 4 , j = 1
i = 4 , j = 2
i = 4 , j = 3
i = 4 , j = 4

In [53]:
n = 10
sum = 0
count = 1

while count <= n :
    sum = sum + count
    count += 1

print(sum)

55

In [55]:
n = 10
sum = 0

for i in range (1, 11):
    sum = sum + i

print(sum)

55

In [61]:
for num in range(1, 101):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                break

        else:
            print(num, "is a prime number")

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
53 is a prime number
59 is a prime number
61 is a prime number
67 is a prime number
71 is a prime number
73 is a prime number
79 is a prime number
83 is a prime number
89 is a prime number
97 is a prime number

In [68]:
num = int(input("Enter the number : "))

if num < 1 :
    print("Please enter a positive number")

else:
    for i in range (2, num):
        if num % i == 0:
            break
    else:
        print(f"{num} is prime number")

7 is prime number