# Sets 

### Sets are Unordered , collection of Non- Dupplicate items ...

In [12]:
my_set = {1, 2, 3, 4, 5, 4, 5, 6, 1}    ## I have added duplicate items but they are not displayed in output

print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [13]:
my_set1 = set()    # we can use inbuilt function to create set
print(type(my_set1))

<class 'set'>

In [14]:
my_set1 = set([1, 2, 3, 4, 5, 6, 7, 8, 9])   # We can also create set by using list / Tuple inside set function
print(my_set1)
print(type(my_set1))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [35]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [36]:
## For adding any elemt in set wwe have to use "add()" function

my_set.add(8)
print(my_set)

{1, 2, 3, 4, 5, 8}

In [37]:
## For removing any element from the set we have to use "remove()" function

my_set.remove(2)
print(my_set)

{1, 3, 4, 5, 8}

In [38]:
my_set.pop() ### In set the pop work as FIFO(first in first out)
print(my_set)

{3, 4, 5, 8}

In [40]:
# clear all elements in set is done by using clear() function

my_set.clear()
print(my_set)

set()

In [41]:
## for checking if item is present in set or not 
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9}

print(3 in my_set)
print(11 in my_set)

True
False

In [ ]:
## union fo 2 set / combining 2 sets 

set1 = {1, 2, 2, 3,4, 5,}
set2 = {4, 4, 5, 6, 6, 7, 8, 9}

set_final = set1.union(set2) 
print(set_final)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [46]:
# Intersection  is used to give common elements from both the sets 

intersection_set = set1.intersection(set2)
print(intersection_set)

{4, 5}

In [50]:
## If we want to update the comman elements in any of the set then we use set1.intersection_update(set2)


intersection_udpate = set1.intersection_update(set2)
print(set1)

{4, 5}

In [59]:
# diffrence between set 

set1 = {1, 2, 2, 3,4, 5,}
set2 = {4, 1, 5, 6, 7, 8, 9}

diff1 = set1.difference(set2)
print(diff1)

diff2 = set2.difference(set1)
print(diff2)

{2, 3}
{8, 9, 6, 7}

In [67]:
## SET METHODS  

set1 = {1, 2, 3, 4, 5}
set2 = {2, 3, 4}

# is subset

print(set1.issuperset(set2))
print(set1.issubset(set2))

True
False

In [70]:
del set

In [71]:
# counting unique words in text 
text = "this is the text for testing the word split and i am mr. pratik patil"
word = text.split()

unique_word = set(word)
print(unique_word)
print(len(unique_word))

{'patil', 'pratik', 'and', 'i', 'for', 'is', 'am', 'text', 'split', 'the', 'testing', 'this', 'mr.', 'word'}
14